<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiannei.dao.StandardDAO">

    <resultMap id="standardResultMap" type="com.jiannei.bean.StandardBean">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="engName" column="engName"/>
        <result property="parentId" column="parentId"/>
        <result property="kinship" column="kinship"/>
        <result property="code" column="code"/>
        <result property="smallImg" column="smallImg"/>
        <result property="smallImgPath" column="smallImgPath"/>
        <result property="smallImgFlag" column="smallImgFlag"/>
        <result property="smallImgT" column="smallImgT"/>
        <result property="smallImgPathT" column="smallImgPathT"/>
        <result property="smallImgTFlag" column="smallImgTFlag"/>
        <result property="img" column="img"/>
        <result property="imgPath" column="imgPath"/>
        <result property="imgPathFlag" column="imgPathFlag"/>
        <result property="similar" column="similar"/>
        <result property="nameKey" column="nameKey"/>
    </resultMap>

    <insert id="addStandard"  keyProperty="id">
        insert into standard
        (name,parentId,kinship,type,engName,code,smallImg,smallImgPath,smallImgFlag, smallImgT,smallImgPathT,smallImgTFlag,img,imgPath,imgPathFlag,similar)
        values
        (#{name},#{parentId},#{kinship},#{type},#{engName},#{code},#{smallImg},#{smallImgPath},
        #{smallImgFlag},#{smallImgT},#{smallImgPathT},#{smallImgTFlag},#{img},#{imgPath},
        #{imgPathFlag},#{similar})
    </insert>

    <select id="selectTopOne" resultType="com.jiannei.bean.StandardBean">
        select * from standard order by id desc  limit 1;
    </select>

    <select id="countByParentId" resultType="int" parameterType="Long">
        select count(*) from standard WHERE parentId=#{parentId};
    </select>

    <select id="selectAll" resultMap="standardResultMap">
        select * from standard
    </select>

    <update id="updateImgFlag" keyProperty="id" parameterType="com.jiannei.bean.StandardBean">
        update standard set smallImgFlag=#{smallImgFlag},
        smallImgTFlag=#{smallImgTFlag},
        imgPathFlag=#{imgPathFlag}
        where id=#{id}
    </update>

    <update id="updateNameKey" keyProperty="id" parameterType="com.jiannei.bean.StandardBean">
        update standard set nameKey=#{nameKey}
        where id=#{id}
    </update>

    <select id="selectLike" resultMap="standardResultMap" parameterType="String">
        select * from standard WHERE nameKey LIKE #{key}
    </select>

    <select id="selectLikeCount" resultType="java.lang.Integer" parameterType="String">
        select count(*) from standard WHERE nameKey LIKE #{key}
    </select>

    <select id="selectByCode" resultMap="standardResultMap" parameterType="String">
        select * from standard WHERE code = #{code}
    </select>

    <select id="selectByCodeCount" resultType="java.lang.Integer" parameterType="String">
        select count(*) from standard WHERE code = #{code}
    </select>

    <select id="selectByType" resultMap="standardResultMap" parameterType="String">
        select * from standard WHERE type = #{type}
    </select>

    <select id="selectByTypeCount" resultType="java.lang.Integer" parameterType="String">
        select count(*) from standard WHERE type = #{type}
    </select>
</mapper>